<h2>
    All logs
</h2>
<div>
    {{#each sortedModel as |log|}}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{log.created_on}}
                {{#if (isPrivate log.scope)}}
                    <span class="label label-danger">Private</span>
                {{/if}}
            </div>
            <div class="panel-body">
                {{{breaklines log.log}}}
            </div>
        </div>
    {{/each}}
</div>
